langchain==0.3.27          
langchain-community==0.3.29 
langchain-core==0.3.75      
langchain-openai==0.3.32    
langchain-chroma==0.2.5     
langchain-tavily==0.2.11    
pypdf==6.0.0                
pydantic==2.11.7            
pydantic-settings==2.10.1   
langchain-docling==1.0.0           
